body {
    width: 1000px;
    margin: 0 auto;
}

header {
     background-color:#ffcccc;
}

#wrapper{
    height: 1000px;
    display: flex;
}

#main{
    background-color: #ccffcc;
    width: 700px;
}

#menu{
    background-color:#ccccff;
    width: 300px
}

footer{
    background-color: #ffccff;
}